<!DOCTYPE html>
<html>
<head>
<style>
body {
        color: red;
}
h1 {
        color: #FF5733;
}
h2{
        color: #FF5733;
}
p {
        color: rgb(102, 0, 102)
}
#wrap {
	width: 900px;
	margin: 0 auto;
}

</style>
</head>
<body>

<h1>This header will be green.</h1>

<h2>This header will be orange.</h2>

<p>This paragraph will be blue.</p>

This body text will be red.
</body>
</html>
